.bicycle-enter {
    opacity: 0.01;
    transition: opacity 10000ms ease-in;
  }
  
  .bicycle-enter.bicycle-enter-active {
    opacity: 1;
    transition: opacity 10000ms ease-in;
  }

  .bicycle-appear {
    opacity: 0.01;
  }
  
  .bicycle-appear.example-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }